.graduationArt_logo {
    font-family: 'Lobster', cursive;
}

.graduationArt_footer_button {
    font-size: .6rem;
}

.graduationArt_footer {
    text-align:center; margin-top: 2rem;
}

.graduationArt_header {
    text-align:center;
    margin: 2rem 0;
}
